<%= simple_form_for(@housing) do |f| %>
  <% if @housing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing.errors.count, "error") %> prohibited this housing from being saved:</h2>

      <ul>
      <% @housing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <%= f.button :submit, "Create Furniture", class: "btn btn-primary" %>
  
<% end %>
