<table style="width: 1090px;">
	<tr>
		<td><h1>Housing</h1></td>
		<td style="text-align: right;"><h1><%= link_to 'New housing', new_furniture_path, class: 'btn btn-info' %></h1></td>
	</tr>
</table>

<div id="panels" />
<script>
<% @housings.each do |housing| %>
  new Block('<%= housing.title %>', 
  	'<%= housing.image_url %>', 
  	'<%= housing.description %>', 
  	'<%= housing.id %>',
  	1);
<% end %>
renderGrid();
</script>