<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @housing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @housing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @housing.address %>
</p>

<p>
	<strong>Price:</strong>
	<%= "$" + @housing.price.to_s %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @housing.image_url %>
</p>

<p>
	<strong>Belongs to:</strong>
	<%= link_to @housing.user.email, users_show_path(@housing.user) %>
</p>

<% if current_user && @housing.user == current_user %>
<%= link_to 'Edit', edit_housing_path(@housing) %> | 
<% end %>
<%= link_to 'Back', housings_path %>
