<table style="width: 1090px;">
	<tr>
		<td><h1>Furnitures</h1></td>
		<td style="text-align: right;"><h1><%= link_to 'New Furniture', new_furniture_path, class: 'btn btn-info' %></h1></td>
	</tr>
</table>

<div id="panels" />
<script>
<% @furnitures.each do |furniture| %>
  new Block('<%= furniture.title %>', 
  	'<%= furniture.image_url %>', 
  	'<%= furniture.description %>', 
  	'<%= furniture.id %>',
  	0);
<% end %>
renderGrid();
</script>


<br>

